<div id="navbar">
    <ul>
        <li>
            <a href="index.php">HOME</a>
        </li>
        <li>
            <a href="order.php">ORDER</a>
        </li>
        <li>
            <a href="">BLAH</a>
        </li>
    </ul>
    <div id="accountArea">
        <form id="loginForm">
            <input name="username" type="text" value="" placeholder="username">
            <input name="password" type="password" value="" placeholder="password">
            <input name="submit" type="submit" value="Login">
        </form>
        <!-- <div class="login"> Login/Signup </div> -->
        <div class="loginInformation"> </div>
        <div class="logout"> </div>
    </div>
</div>